:root {
    --color-rojo: #D32F2F;
    --color-negro: #1A1A1A;
    --color-gris-oscuro: #2B2B2B;
    --color-gris-claro: #E5E5E5;
    --color-blanco: #FFFFFF;

    --color-fondo: #ECECEC;
    --color-texto: #222222;
}